@charset "utf-8";
body {
  background-color: #ffffff;
  font-family: "Lora", serif;
  max-width: 960px;
  margin: auto;

}
h1 {
  font-family: "Segoe script", serif;
}
.content {
  max-width: 800px;
  margin: 0 auto;
}

header,footer {
  background-color: #03f6ea;
  color: black;
  padding: 12px;
  border-radius: 15px;
  
}

header h1 {
  font-size: 45px;
  text-align: center;
  text-shadow: 0 0 15px black;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 17px black;
  gap: 100px;
}

main {
  padding: 0 15px;
}

main h2 {
  border-bottom: 1px solid black;
  
}

.profile {
  width: 200px;
  height: auto;
  box-shadow: 0 0 17px black;
  align-content: left;
}
.link {
  padding: 5px;
}

footer {
  clear: both;
  text-align: center;
  box-shadow: 0 0 17px black;
}
