@media only screen and (min-width: 37.5em) {
@media only screen and (max-width:56.24em) {
    
  main {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
   
  }
  .sec3 {
    grid-template-columns: 3fr;
    margin-top: 20px;
    margin: 0 auto;

  }
}
}