@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400;700&display=swap');

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin: 0 auto;
    
}

header, footer {
    text-align: center;
    background-color: #03f6ea;
    color: black;
    border-radius: 15px;
    grid-column: span 3;
}

header h1 {
    font-size: 45px;
    text-shadow: 0 0 25px black;
}

header{
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 17px black;
    gap: 100px;
  }

body{
    max-width: 760px;
    margin: auto;
    color: black;
    font-family: Roboto;
    justify-content: center;
    text-align: center;
}

section{
    margin-top: 0px;
    margin-bottom: 0px;
    border:5px solid gray;
    background-color: white;
    justify-content: center;
}

p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    text-align: center;
    color: black; 
    font-family: Roboto;
    
}

img{
    width: 500px;
    
}