* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    }

.navbar-links li {
    list-style: none;
    text-align: center;
    background: color #11b8ff;;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
    display: flex;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius: 10px;
}

.navbar-links {
    display:none;
}
    
.toggle-button {
    display: flex;
    }

.navbar-links.active {
    display: flex;
    background-color: black;
}


/**************** Discover Page***************************/
.discover-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 400px;
}


.deck {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.card {
    display: grid;
    justify-items: center;
    padding: 1em;
    margin: auto;
}

.card p {
    margin-top: auto;
    padding: 1em;
    max-width: 400px;
}

.discover img[data-src] {
    filter: blur(0.2em);
  }

.discover img {
    filter: blur(0em);
    transition: filter 0.1s;
  }

