header,
main,
footer {
    margin: 0 auto;
    max-width: 100%;
    
}


main {
    align-content: center;
}

div.cards {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    margin: 0 auto;
    box-shadow: 2px -1px 19px 10px #555;
    border-radius: 15px;
  }


section {
    background-color: #b9b9cc;
    border-radius: 10px;
    padding: 5px;
    text-align: center; 

}

.card section {
    margin: 1rem;   
    padding: 1rem;
    
}

h1 {
    font-size: 46px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    color: #4d4d96;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #4d4d96;
    letter-spacing: 90%;

}
p {
    text-align: center;
    color: #000;
    letter-spacing: 90%;
}


img {
    padding: 15px;;
    margin-top: 6px;

}

main section {
    margin: 0 auto;
}

footer {
    border-top: 1px solid #555;
    color: white;
    text-align: center;
    background-color: #777;
    padding: 8px;
}



@media only screen and (min-width: 32.5rem) and (max-width: 62rem) {


div.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

@media screen and (min-width: 62.5em) {

div.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


}