@media only screen and (min-width: 37.5em) and (max-width:64.4em) {

    .name {
        font-size: 50px;
        
    }
    
    
    .section-img {
        width: 50%;        
    }

    ul {
        display: flex;
    }

    li {
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        
    }
    .sec3 {
        grid-column: 1/ span 2;
    }
    
}